VITE_AUTH_URL=example-auth-url
VITE_APP_URL=example-app-url
VITE_CHANNEL_URL=example-channel-url
VITE_SOCKET_URL=example-socket-url
VITE_META_APP_ID=example-meta-app-id
VITE_FIREBASE_API_KEY=example-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=example-firebase-auth-domain
VITE_FIREBASE_PROJECT_ID=example-firebase-project-id
VITE_FIREBASE_STORAGE_BUCKET=example-firebase-storage-bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=example-firebase-messaging-sender-id
VITE_FIREBASE_APP_ID=example-firebase-app-id
VITE_FIREBASE_MEASUREMENT_ID=example-firebase-measurement-id
ENVIRONMENT=development
VITE_OPEN_ALL_ROUTES=true